.contentContainerContactUs {
    margin: 20px;
}
.contentContainerContactUs
.MainHeading {
    
    font-style:italic;
     text-align:left;
     padding-bottom: 50px;
}
.mainContent {
    margin: 50px;
    text-align: left;
}
