.LandingPage {
    height: 100vh;
}
.Header {
    height: 40px;
    text-align: center;
    background-color: #2f2fbe;
    color: white;
}
.LogoBanner {
    display: flex;
    height: 75;
    margin-top: 20px;
}

.backgroundImage {
    background-image: url('../../icons/map.jpg');
    background-repeat: no-repeat;
}

.MainContent {
    display: flex;
}

.profile img {
    height: 350px;
    width: 300px;
    margin: 25px 75px;
}

.WriteUp {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    border: 1px solid #2f2fbe;
    color: #2f2fbe;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: justify;
    padding: 70px;
}

@media only screen and (max-width: 600px) {
    .LandingPage {
        width: 100%;
        overflow-x: hidden;
    }
    .Header {
        height: 185px;
    }
    .HeaderNav {
        flex-direction: column;
    }
    .LogoBanner {
        flex-direction: column;
    }
    .Menu {
        margin-left: 0;
        display: flex;
        flex-flow: column;
        margin-top: 20px;
    }
    .MainContent {
        flex-direction: column;
    }
    .actions {
        padding: 0;
    }
    marquee {
        padding-top: 25px;
    }
    .icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .icons span {
        margin-right: 20px;
        margin-top: 20px;
    }
    .Logo {
        text-align: center;
        justify-content: center;
        margin: 0;
    }
    .LogoTitleSeparator {
        padding-left: 20px;
    }
    .dropbtn {
        padding-left: 30px;
    }
    .profile img {
        margin: 25px 50px;
    }
    .WriteUp {
        margin-left: 28px;
        margin-bottom: 20px;
        padding: 33px;
        width: 70%;
        text-align: left;
    }
    .dropdown-content {
        margin-left: 90px;
    }
    .videoContainer {
        margin-bottom: 40px;
    }
    iframe {
        width: 100%;
    }
}