.contentContainerPaper {
    margin: 20px;
    text-align: left;
        
}
.contentContainerPaper p {
    color: black;
}

.contentContainerPaper ol {
    color: black;
}
.MainHeading {
    
    font-style:italic;
     text-align: left;
}
.mainContent {
    margin: 50px;
    text-align: left;
}
