.contentContainerPaper {
    margin: 20px;
    text-align: left;
        
}
.contentContainerPaper p {
    color: black;
}
.MainHeading {
    
    font-style:italic;
     text-align: left;
     font-family:sans-serif;
     
}
.mainContent {
    margin: 50px;
    text-align: left;
    
}
